[submodule "snowflake"]
	path = snowflake
	url = https://gitlab.torproject.org/tpo/anti-censorship/pluggable-transports/snowflake.git
[submodule "lyrebird"]
	path = lyrebird
	url = https://gitlab.torproject.org/tpo/anti-censorship/pluggable-transports/lyrebird.git
